
body {
}
.header {
    margin-top: -50px;
}
.section-heading img{
    margin: auto;
}


    /*   popular tourist photo album  */

.popular-photo-album {
    padding-left: 30px;
    padding-right: 30px;
}
.popular-photo-album-item {
    padding: 5px 5px;
    border: 3px solid #E8EAED;
    font-family: revert;
}
@media screen and (max-width: 800px) {
    .popular-photo-album-item {
        margin-top: 10px;
    }
}
#read-more-btn-id {
    background: none;
    border: 2px solid #E8EAED;
    font-family: revert;
}
#read-more-btn-id:hover {

    background-color: #ffcc00;
    border: none;
    
}

   /*  flat bannaer of photos  */

.content-four {
    position: relative;
    overflow: hidden;
}

.overlay-four {
    position: absolute;
    width: 100%;
    height: 100%;
    bottom: 0;
    background-color: rgba(25, 161, 216, 0.6);
    text-align: center;
    font-family: revert;
    color: white;
}

.overlay-four {
    line-height: 320px;
    height: 320px;
}

.overlay-four p {
    line-height: 1.5;
    display: inline-block;
    vertical-align: middle;
}

.overlay-four .btn-default {
    background: none;
    border: 2px solid white;
    color: white;
    border-radius: 0;
}

.overlay-four .btn-default:hover {
    background-color: white;
    border: none;
    color: black;
    border-radius: 0;
}
@media screen and (max-width: 700px) {
    .overlay-four .btn-default {
        margin-top: 70px;
    }
}


  /*  winner of this month  */

#myCarousel {
    padding-left: 50px;
    padding-right: 50px;
}
.sub-slider-item{
    padding: 5px;
    border: 1px solid #E8EAED;
} 
@media screen and (max-width: 800px) {
     .sub-slider-item {
         margin-top: 10px;
     }
 }
.carousel-inner > .item img:hover {
    opacity: 0.5;
}
.carousel-inner > .item{
    font-family: revert;
}
.sub-slider-item > .btn-default {
    background: none;
    border: 2px solid #E8EAED;
}
.sub-slider-item > .btn-default:hover {
    background-color: #ffcc00;
    border: none;
}


/*  tourist review  */


section.bg-gray {
    background-color: #f6f6f6;
    display: block;
}

#testimonial-slider-id {
    text-align: center;
}

.slider-control {
    display: inline-block;
    background: #19A1D8;
    padding: 10px 15px;
    color: #FFF;
}