@model TourGuideBD.Models.VisitingPlace

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Create</h2>

<h4>VisitingPlace</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="PlaceName" class="control-label"></label>
                <input asp-for="PlaceName" class="form-control" />
                <span asp-validation-for="PlaceName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PlaceTypeId" class="control-label"></label>
                <select asp-for="PlaceTypeId" class ="form-control" asp-items="ViewBag.PlaceTypeId"></select>
            </div>
            <div class="form-group">
                <label asp-for="DivisionId" class="control-label"></label>
                <select asp-for="DivisionId" class ="form-control" asp-items="ViewBag.DivisionId"></select>
            </div>
            <div class="form-group">
                <label asp-for="DistricId" class="control-label"></label>
                <select asp-for="DistricId" class="form-control" asp-items="ViewBag.DistricId"></select>
            </div>
            <div class="form-group">
                <label asp-for="UpazilaId" class="control-label"></label>
                <select asp-for="UpazilaId" class="form-control" asp-items="ViewBag.UpazilaId"></select>
            </div>
            <div class="form-group">
                <label asp-for="Image" class="control-label"></label>
                <input asp-for="Image" type="file" name="image" class="form-control" />
                <span asp-validation-for="Image" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TouristEntryTime" class="control-label"></label>
                <input asp-for="TouristEntryTime" class="form-control" />
                <span asp-validation-for="TouristEntryTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EntryFee" class="control-label"></label>
                <input asp-for="EntryFee" class="form-control" />
                <span asp-validation-for="EntryFee" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ContactInfo" class="control-label"></label>
                <input asp-for="ContactInfo" class="form-control" />
                <span asp-validation-for="ContactInfo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HowToGo" class="control-label"></label>
                <input asp-for="HowToGo" class="form-control" />
                <span asp-validation-for="HowToGo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

